.progress-container {
    position: relative;
}

.progress-scale {
    position: absolute;
    width: 100%;
    top: -20px; /* Піднімаємо мітки над шкалою */
    display: flex;
    justify-content: space-between;
}

.mark {
    position: absolute;
    font-size: 14px;
    color: #333;
    font-weight: bold;
    transform: translateX(-50%);
}

.rewards {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #444;
}
